body {
    margin-left: 0px;
    background: linear-gradient(to right, rgb(103, 3, 103), rgb(239, 75, 75), rgb(242, 131, 242));
}


#navbar {   
    border-top: 5px solid rgb(239, 161, 152);
    border-left: 6px solid rgb(239, 161, 152);
    border-right: 6px solid rgb(239, 161, 152);
    border-bottom: 5px solid rgb(239, 161, 152);
    color: white;
    list-style-type: none;
    line-height: 2.8;
    position: fixed;
    text-align: center;
    width: 160px;
}


img {
    width: 20%;
    padding-top: 8px;
    margin-bottom: 0px;
}


#head {
    border-bottom: 10px double rgb(239, 161, 152);
    font-size: 23px;
    color: rgb(239, 161, 152);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}

.link {
    text-decoration: none;
}

.nav-link {  
    color: rgb(239, 161, 152);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;   
}


#main-doc {
    color:white;   
    padding-left: 50px;
    padding-right: 25px;
    margin-left: 190px;
}


h2 {
    padding-top: 30px;
}


p, #space {
    font-size: 30px;
    margin-bottom: 500px;
}


@media(max-width: 600px) {
    body {
        background-color: black
    }

    #navbar {
        position: fixed;
        list-style-type: none;
        line-height: 2.1;
        text-align: left;
        font-size: 80%;
        color: white;
        width: 125px;
    }

    img {
        width: 20%;
        padding-top: 8px;
    }
    
    #head {
        text-align: left;
        font-size: 120%;
        padding-left: 0px;
        padding-right: 0px;
    }

    #main-doc {
        margin-left: 150px;
        padding-right: 10px;
        padding-left: 10px;
    }
}