body {
    margin-left: 0px;
    background-color: purple;
}


#navbar {   
    border-top: 5px solid salmon;
    border-left: 6px solid salmon;
    border-right: 6px solid salmon;
    border-bottom: 5px solid salmon;
    color: white;
    list-style-type: none;
    line-height: 2.8;
    position: fixed;
    text-align: center;
    width: 160px;
}


img {
    width: 20%;
    padding-top: 8px;
    margin-bottom: 0px;
}


#head {
    border-bottom: 10px double salmon;
    font-size: 23px;
    color: salmon;
    font-family: cursive;
    margin-top: 0px;
}


.nav-link {  
    color: white;
    font-size: 25px;
    font-family: cursive;
    text-decoration: none;   
}


#main-doc {
    color: white;   
    padding-left: 50px;
    padding-right: 25px;
    margin-left: 190px;
}


h2 {
    padding-top: 30px;
}


p {
    font-size: 30px;
}


@media(max-width: 600px) {
    body {
        background-color: black
    }
    #navbar {
        border-top: 5px solid salmon;
        border-bottom: 5px solid salmon;
        border-left: 6px solid salmon;
        border-right: 6px solid salmon;
        position: fixed;
        list-style-type: none;
        line-height: 2.1;
        text-align: left;
        font-size: 80%;
        color: white;
        width: 125px;
    }
    img {
        width: 20%;
        padding-top: 8px;
    }
    #head {
        border-bottom: 10px double salmon;
        text-align: left;
        font-size: 120%;
        color: salmon;
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav-link {
        font-family: serif;
    }

    #main-doc {
        color: white;
        margin-left: 150px;
        padding-right: 10px;
        padding-left: 10px;
    }
}